.emptyCart {
  display: flex;
  flex-flow: row wrap;
}
.emptyCart-left {
  flex: 1;
  padding: 1rem;
}
.emptyCart-right {
  flex: 1;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
    .emptyCart {
        flex-flow: column;
    }    
}


