.header {
    color: red;
    padding: .5rem 1rem;
    background-color: var(--header-bg-color);
    min-height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
}
.brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
}
.brand a {
    text-decoration:none;
    color: #fff;
}
.login {
    margin-left: auto;
    margin-right: 1rem;
    color: royalblue;
    display: block;
}
.login:hover {
    background-color: salmon;
    border-radius: 2px;

}
.login,.cart {
    padding: .5rem;
    font-size: 2rem;
    cursor: pointer;
}
.menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}
.menu i {
    font-size: 1.5rem;
    margin-right: .5rem;
}

.cart {
    position: relative;
    
}
.cart a {
    color: var(--cart-color);
}
.cartInfo {
    position: absolute;
    top: .25rem;
    right: 0;
    text-align: center;
    padding: .2rem;
    z-index: 88;
    font-size: 1rem;
    background-color: red;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    color: greenyellow;
    font-weight: 600;
}




@media screen and (max-width:599px) {
    .menu span {
        display: none;
    }
    .brand {
        position: relative;
        top: 0%;left: 0%;
        transform: translate(0%,0%);
    }
} 