@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
:root {
  box-sizing: border-box;
  --main-color: #ff0;

  --header-bg-color: #2666b9;

  --nav-bg-color: #fff;
  --nav-text-color: #424242;
  --nav-link-hover-bg-color: #eee;
  --nav-link-hover-color: #000;
  --nav-link-bg-color: #fff;


  --box-shadow: 0px 0px 8px 2px #3b3b3b;
  --border-radius:8px;
  --border-color: #cbccbc;
  font-size: 12px;

  --price-bg:#b6b6b68c;
  --price-container-bg:#b6b6b6;

  --primary-color:#0277bd;
  --secondary-color:#424242;
  --danger-color:#d50000;
  --warning-color:#ffd600;
  --info-color:#00796b;
  --success-color:#2e7d32;
  --light-color:#fff;


  --icon-hover-bg-color: #3986eb;


  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-family: 'Noto Serif', serif;
}
.top-fix {
  position: relative;
  top: 80px;
}
@media screen and (min-width: 600px) {
    :root {
        font-size: 14px;
    }
}
@media screen and (min-width: 960px) {
    :root {
        font-size: 16px;
    }
}